/*knowlinux css
by yussan @xyussanx
28 Oct 2014*/
body{font-size: 12px}
ul.menu{list-style: none;line-height: 1.2}
.logo{margin-top:5px;width:140px;height:40px;background-color:#000;background-image: url('img/logo.png');background-size: cover}
.home_login{}
.welcome_message{color:#fff;}
/*section only*/
#title{background-color: #F4F4F4;padding: 20px;margin-top: 19px;}
#welcome{padding: 40px;background-color: #000/*rgba(0, 130, 255, 0.82)*/;background-size: cover;}
#home_header{border-bottom: 4px solid #D5D5D5;width:100%;position:fixed;background-color:#fff;z-index:100;}
#home_center{padding:40px;}
.divideroftopmenu{width:100%;height: 40px}
#home_user{padding:40px;background-color: #E8E8E8}
#footer{padding:10px;background-color: #000;color:#B3B3B3;}
#footer h3{font-size: 14px;color:#B3B3B3;}
#footer p{line-height:0;font-size: 12px;color:#B3B3B3;}
#footer a{font-size: 12px;color:#F4F4F4;}
#afterlogin{background-color: #E8E8E8;padding:40px;}
#completion{background-color: #FFF;padding:40px;}
#livecomand{background-color: #000;}
#btndown{padding:20px;}
.level{padding:20px;background-color:#fff;}
.whitebutton{background-color: #E8E8E8;color:rgb(58, 58, 58);border-color: #000;}
.whitebutton:hover,.whitebutton:active{background-color: gray;color:#FFF;}
/*learn*/
.materi-item:hover{background-color: #F4F4F4;}
.materi-item{float:left;border:1px solid lightgray;width:100%;}
.materi-item small{color:gray;}
.materi-title{height: 35px;padding:0.1em;}
.learn_sidebar{padding: 10px;margin-top:0;background-color: #F5F5F5}
.terminal_view{padding:10px;background-color: #282828}
.text{height:250px;overflow: auto}
.text p{font-size: 12px}
.texthint{height:150px;overflow: auto;font-size}
.texthint p{font-size: 12px}
.full-height{height: 700px}
.command{}
.command>.item{padding:10px;color:#fff;height: 580px;}
.result{}
.result>.item{margin:10px;padding:10px;color:#fff;background-color: #000;min-height: 500px}
#linux-command{background-color: #000;border:0;float:left;max-width: 100%;font-size:13px;padding:0;}
#linux-command:focus{border:0;box-shadow: none};
.dropdownme{max-width: none}
/*other course*/
#otherCourse{padding: 40px;background-color: #F4F4F4}
.course-detail{height:100px;color:#000;padding:0.4em;}
/*base content*/
.base-content{padding:15px;}