/*knowlinux css
by yussan @xyussanx
28 Oct 2014*/
body{font-size: 12px}
ul.menu{list-style: none;line-height: 1.2}
/*home only*/

#progressanimate{display:none;}
.activemenu{border-bottom: 2px solid #008cba;}
.logo{margin-top:5px;width:155px;height:40px;background-color:#000;background-image: url('img/logo.png');background-size: cover}
.home_login{}
.welcome_message{color:#fff;}
/*dashboard*/
.joinmateri{text-align: left;background-color: #fff;padding:20px;border-bottom: 1px solid #E8E8E8}
.joinmateri p{margin:0;}
.joinmateri:hover{background-color: #008cba;color:#fff;}
.thumb-progress{padding:10px;}
/*section only*/
#title{background-color: #F4F4F4;padding: 20px;margin-top: 19px;}
#welcome{padding: 40px;background-color: #000/*rgba(0, 130, 255, 0.82)*/;background-size: cover;}
#home_header{border-bottom: 4px solid #D5D5D5;width:100%;position:fixed;background-color:#fff;z-index:100;}
#home_center{padding:40px;}
.divideroftopmenu{width:100%;height: 40px}
#home_user{padding:40px;background-color: #004257}
#home_user h3,#home_user  h5{color:#fff;}
#footer{padding:10px;background-color: #000;color:#B3B3B3;}
#footer h3{font-size: 14px;color:#B3B3B3;}
#footer p{line-height:0;font-size: 12px;color:#B3B3B3;}
#footer a{font-size: 12px;color:#F4F4F4;}
#afterlogin{background-color: #FFF;padding:40px;}
#completion{background-color: #E8E8E8;padding:40px;}
#livecomand{background-color: #000;height:100%;}
#btndown{padding:20px;}
.level{padding:20px;background-color:#fff;}
.whitebutton{background-color: #E8E8E8;color:rgb(58, 58, 58);border-color: #000;}
.whitebutton:hover,.whitebutton:active{background-color: gray;color:#FFF;}
/*learn*/
.materi-item:hover{background-color: #F4F4F4;}
.materi-item{float:left;border:1.5px solid rgb(0, 96, 128);width:100%;}
.materi-item small{color:gray;}
.materi-title{height: 35px;padding:0.1em;}
.learn_sidebar{padding:0  10px;margin-top:0;background-color: #F5F5F5}
.terminal_view{padding:10px;background-color: #282828}
.text{height:560px;overflow: auto;margin-bottom: 20px;}
.text p{font-size: 12px}
.texthint{height:150px;overflow: auto;font-size}
.texthint p{font-size: 12px}
.instructions{background-color:rgb(167, 213, 228);padding:5px;display: block}
.instructions>h5{font-weight: bold}
.full-height{height: 100%}
.command{}
.command>.item{padding:10px;color:#fff;height: 580px;overflow-y:auto}
.result{}
.result>.item{margin:10px;padding:10px;color:#fff;background-color: #000;min-height: 500px}
#linuxCommand{background-color: #000;border:0;float:left;max-width: 100%;font-size:13px;padding:0;font-family: monospace}
#linuxCommand:focus{border:0;box-shadow: none};
.dropdownme{max-width: none}
/*other course*/
#otherCourse{padding: 40px;background-color: #008cba;color:#fff;}
#otherCourse h1{color:#fff;}
#footer{padding:30px;}
.course-detail{height:50px;color:#000;padding:0.4em;}
/*base content*/
.base-content{padding:15px;}
/*all about discuss*/
.discuss-avatar{width:40px;border-radius:40px}
.discuss-item a.linktitle{font-size: 14px}
.discuss-item .avatar{width:45px;height:45px;float:left;display: block}
.discuss-item .detail{width:80%;height:45px;float:left;display: block}
.discuss-item .title{height:60px;}
.linktaggreen{color:#fff;background-color: green;padding:0.1em;width:40px;font-size: 11px}
.linktagblue{color:#fff;background-color: blue;padding:0.1em;width:40px;font-size: 11px}
.linktaggreen:hover,.linktagblue:hover{color:#fff;background-color: gray};
.discuss-comments{background-color: #F4F4F4;padding:5px;}
.comment-item{background-color: #F4F4F4;padding:5px;}
.comment-item-button a{font-size: 20px}
/*404 Page*/
.notfound{background-color: #000;color:#fff;}
.notfound h1{color:#fff;font-size: 100px}
